<div id="city_tabs">
  <ul>
    <li><a href="#city_tabs-1" onclick="javascript:city_tab_index=0;">Übersicht</a></li>
    <li><a href="#city_tabs-2" onclick="javascript:city_tab_index=1;">Produktion</a></li>
    <li><a href="#city_tabs-3" onclick="javascript:city_tab_index=2;">Handelsrouten</a></li>
    <li class="extra_tabs_big" onclick="javascript:city_tab_index=3;"><a href="#city_tabs-4">Einstellungen</a></li>
    <li class="extra_tabs_small" onclick="javascript:city_tab_index=4;"><a href="#city_tabs-6">Einheiten/Gebäude</a></li>
  </ul>

  <div id="city_tabs-1">
    <div id="city_overview_tab" class="citydlg_tabs">
    <div id="city_viewport">
    <div id="specialist_panel">
    </div>
    
    <div class="city_panel">
      <div id="city_canvas_div">
        <canvas id="city_canvas" class="city_canvas" width="384" height="192" moz-opaque="true"></canvas>
      </div>
    </div>

    <div class="city_panel">
      <div id="city_dialog_info">
	  <div><b>Stadt Information:</b></div>
	  <div style="float:left;">
	  <span id="city_size"></span>
	  <div id='city_production_overview'></div>
	  <div id='city_production_turns_overview'></div>
	</div>
	<div style="float: left; margin-top: -20px; padding-left: 20px;"> 
	  <table id="city_stats">
	  <tr><td>Nahrung: </td><td id="city_food"></td></tr>
	  <tr><td>Prod: </td><td id="city_prod"></td></tr>
	  <tr><td>Handel: </td><td id="city_trade"></td></tr>
	  <tr><td>Gold:: </td><td id="city_gold"></td></tr>
	  <tr><td>Luxus: </td><td id="city_luxury"></td></tr>
	  <tr><td>Wissenschaft: </td><td id="city_science"></td></tr>
	  <tr><td>Korruption: </td><td id="city_corruption"></td></tr>
	  <tr><td>Abfall: </td><td id="city_waste"></td></tr>
	  <tr><td>Verschmutzung: </td><td id="city_pollution"></td></tr>
          <tr><td>Tech gestohlen: </td><td id="city_steal"></td></tr>
          <tr><td>Kultur: </td><td id="city_culture"></td></tr>
  	  </table>
        </div>
      </div>

    </div>
    <div id="city_improvements_panel" class="city_panel">
      <div style="clear: left;"></div>
      <div id="city_improvements">
        <div id="city_improvements_title">Stadt Verbesserungen:</div>
        <div id="city_improvements_list"></div>
      </div>
      
      <div id="city_present_units" >
        <div id="city_present_units_title">Anwesende Einheiten:</div>
        <div id="city_present_units_list"></div>
      </div>

      <div id="city_supported_units" >
        <div id="city_supported_units_title">Unterstützte Einheiten:</div>
        <div id="city_supported_units_list"></div>
      </div>

    </div>


  </div>
  </div>
  </div> 
  <div id="city_tabs-2">
    <div id="city_production_tab" class="citydlg_tabs">
      <div id='worklist_left'>
        <div id='worklist_dialog_headline'></div>
        <div id='worklist_heading'>Ziel Produktionsliste:</div><div id='city_current_worklist'></div>
      </div>
      <div id='worklist_right'>
        <div id='tasks_heading'>
          <input id='show_unreachable_items' type='checkbox'/>nicht erreichbare Gegenstände anzeigen<br/>
          Source Aufgaben:
        </div>
        <div id='worklist_production_choices'></div>
      </div>
      <div id='prod_buttons'>
        <button type="button" class="button" onClick="city_change_production();" id="city_change_production_btn">Produktion ändern</button>
        <button type="button" class="button" onClick="city_add_to_worklist();" id="city_add_to_worklist_btn">Zur Produktionsliste hinzufügen</button>
      </div>
      <div id="worklist_control">
        <button type="button" class="button" onClick="city_insert_in_worklist();" id="city_worklist_insert_btn" title="Vor selektierter Aufgabe einfügen, oder als erstes in die Liste"><i class="fa fa-chevron-left fa-fw"></i></button>
        <div class="wc_spacer"></div>
        <button type="button" class="button" onClick="city_worklist_task_up();" id="city_worklist_up_btn" style="height: 20%;" title="Bewege Aufgabe nach oben"><i class="fa fa-chevron-up fa-fw"></i></button>
        <button type="button" class="button" onClick="city_worklist_task_down();" id="city_worklist_down_btn" style="height: 20%;" title="Bewege Aufgabe nach unten"><i class="fa fa-chevron-down fa-fw"></i></button>
        <div class="wc_spacer"></div>
        <button type="button" class="button" onClick="city_exchange_worklist_task();" id="city_worklist_exchange_btn" title="Ändere gewählte Aufgabe"><i class="fa fa-exchange fa-fw"></i></button>
        <div class="wc_spacer"></div>
        <button type="button" class="button" onClick="city_worklist_task_remove();" id="city_worklist_remove_btn" title="Entferne gewählte Aufgabe"><i class="fa fa-trash fa-fw"></i></button>
      </div>
    </div>
  </div> 
  <div id="city_tabs-3">
    <div id="city_traderoutes_tab" class="citydlg_tabs"></div>
  </div> 
  <div id="city_tabs-4">
    <div id="city_settings_tab" class="citydlg_tabs">
      <div id="city_disband_options" >
        <input id="disbandable_city" type="checkbox" name="disband_city0" value="disband_city0"/>Stadt auflösen, wenn Siedler bei Größe 1 produziert.
      </div>

    </div>
  </div> 
  <div id="city_tabs-6" class="citydlg_tabs">
    <div id="city_units_tab"></div>
  </div> 
 
</div>  
